/* ==========================================================================
  Components
  ========================================================================== */

/* link */
a {
  transition: 1s $Base;
  color: $fc_def;
}

/* page title */
.page_title {
  margin: 15px 0;
  text-align: center;
  color: $title_color;
  font-size: 20px;
  letter-spacing: 0.05em;
}

/* page lead */
.page_lead {
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.8;
}

/* tab */
.tab_nav {
  margin-bottom: 24px;
  text-align: center;

  &_item {
    margin: 0 8px;
    padding: 4px 0;
    display: inline-block;
    border-bottom: 3px solid $line_def;
    color: $menu_color;

    &.active {
      border-color: $line_act;
      color: $menu_color_active;
    }
  }
}
.tab_tit {
  text-align: center;
  // color: $icon_notice;
}

/* btn */
.btn {
  display: inline-block;
  padding: 14px;
  line-height: 1;
  color: #ffffff;
  background: $line_act;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;

  &_sns {
    background: #ffffff;
    text-align: center;
    img {
      width: auto;
      height: 15px;
    }
  }

}

/* startbtn */
#startbtn {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;

  .balloon {
    position: relative;
    display: inline-block;
    padding: 13px 26px;
    border-radius: 45px;
    letter-spacing: 0.1em;
    color: #fff;
    background: $menu_color_active;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: calc(50% - 8px);
      bottom: -15px;
      border: 8px solid transparent;
      border-top: 10px solid $menu_color_active;
    }
  }
}
