/* ==========================================================================
  Components
  ========================================================================== */

.hide {
  display: none;
}

/* link */
a {
  transition: 1s $Base;
  color: $fc_def;
}

/* page title */
// .page_title {
//   margin: 15px 0;
//   text-align: center;
//   color: $title_color;
//   font-size: 20px;
//   letter-spacing: 0.05em;
// }

/* page lead */
.page_lead {
  margin-bottom: 15px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 1.8;
}

/* tab */
.tab_nav {
  margin-bottom: 24px;
  text-align: center;

  &_item {
    margin: 0 8px;
    padding: 4px 0;
    display: inline-block;
    border-bottom: 3px solid $line_def;
    color: $menu_color;

    &.active {
      border-color: $line_act;
      color: $menu_color_active;
    }
  }
}
.tab_tit {
  text-align: center;
  // color: $icon_notice;
}

/* btn */
.btn {
  display: inline-block;
  padding: 12px 14px;
  line-height: 1;
  color: #ffffff;
  background: $line_act;
  text-align: center;
  overflow: hidden;
  font-size: 13px;
  border-radius: 26px;

  &_sns {
    background: #ffffff;
    text-align: center;
    padding: 13px 11px 10px;

    img {
      width: auto;
      height: 16px;
    }
  }

  &_back {
    padding: 12px;
    background: $bg_def;
    color: $title_color;
  }
  &_check {
    padding: 8px 14px;
    svg {
      margin-right: 5px;
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      path {
        fill: #fff;
      }
    }
  }
  &_vow {
    svg {
      margin-right: 10px;
      display: inline-block;
      // width: 20px;
      // height: 20px;
      zoom: 0.5;
      vertical-align: middle;
      path {
        fill: #fff;
      }
    }
  }
}

/* startbtn */
#startbtn {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  opacity: 0;

  &.show {
    pointer-events: auto;
    opacity: 1;
  }

  .balloon {
    position: relative;
    display: inline-block;
    padding: 13px 26px;
    border-radius: 45px;
    letter-spacing: 0.1em;
    color: #ffffff;
    background: $menu_color_active;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: calc(50% - 8px);
      bottom: -15px;
      border: 8px solid transparent;
      border-top: 10px solid $menu_color_active;
    }
  }
}

/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: rgba(202,209,213,0.8);

  &_in {
    position: relative;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
  }
  &_message {
    // color: #000;
    padding: 0 30px 20px;
    text-align: center;

    .chat_item {
      display: inline-block;
    }
  }
  &_nav {
    text-align: center;

    .btn {
      margin: 0 10px;
    }
  }
}
