/* ==========================================================================
  Frame
  ========================================================================== */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: $fc_def;
  font-family: $ff_def;
  background-color: $bg_def;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

#contents {
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 80px;
}
