/* ==========================================================================
  Frame
  ========================================================================== */

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: $fc_def;
  font-family: $ff_def;
  background-color: $bg_def;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

  &.focus {
    width: 100%;
    height: 100%;

    #header, #nav {
      display: none;
    }
    #contents {
      padding: 0;
      height: 100vh;
    }
  }
  &.focus_vow {
    #nav {
      display: none;
    }
  }
}

#contents {
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 80px;
  overflow-y: scroll;
  border: 1px solid transparent;
}
