/* ==========================================================================
  Header
  ========================================================================== */
// transform: translateX(-50%);
// fill: $c_yellow;
// transition: .4s $Base;
// transform: rotate(-45deg);
#header {
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  height: 48px;
  background: #F5F5F6;
  box-shadow: $bar_shadow;
  z-index: 5;

  &.active {
    top: 0px;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);

    img {
      height: 22px;
      width: auto;
    }
  }

  .config {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;

    button {
      background: none;
    }

    .badge {
      position: absolute;
      left: 0px;
      top: 0px;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #3B469B;
    }
    .icon {
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #ffffff;
    }
  }

  .title {
    padding-top: 14px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: $title_color;
  }
  .message {
    position: absolute;
    top: 50%;
    right: 56px;
    transform: translateY(-50%);
    width: calc(100% - 56px - 104px);
    text-align: right;
    font-size: 14px;
    color: #3B469B;
  }
}
