/* ==========================================================================
  view Vow
  ========================================================================== */
.vow {
  /* swiper */
  .swiper-pagination {
    position: relative;
    padding-top: 10px;
    width: 100%;
  }
  .swiper-pagination-bullet {
    margin: 0 3px;
    width: 6px;
    height: 6px;
    background: $line_pre;
  }
  .swiper-slide {
    position: relative;
    overflow: hidden;
    height: 280px !important;
    border-radius: 12px;
    // border: transparent 2px solid;
    border: #fff 3px solid;
    background: $line_def;
    height: auto;

    &.swiper-slide-active {
      // border-color: $menu_color_active;
      border-color: $line_pre;
    }

    .img {
      position: relative;
      top: 60%;
      transform: translateY(-50%);
    }

    .txt {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 8px 0;
      text-align: center;
      background: #fff;
      line-height: 1;
      font-size: 12px;
      z-index: 2;
      // color: $line_act;
    }
    .soon {
      position: relative;
      top: 50%;
      margin-top: -0.5em;
      text-align: center;
      color: #fff;
    }
  }
  .vow_make_item {
    display: none;
    margin-bottom: 60px;

    dt {
      padding: 0 15px;
    }

    &:last-child {
      margin-bottom: 100px;
    }
    &.show {
      animation: fadeIn .5s;
      display: block !important;
      opacity: 1 !important;
    }
  }
  .vow_make_nav {
    padding-right: 20px;
    text-align: right;

    &.center {
      padding: 20px 0 0;
      text-align: center;
      .btn {
        margin: 0 10px;
      }
    }
  }
  .vow_make_type {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .vow_make_input {
    padding: 10px 50px 0;
    margin-bottom: 15px;

    textarea {
      padding: 0.7em;
      width: 100%;
      line-height: 1.3;
      box-shadow: $bar_shadow;
      border: #fff 3px solid;
      border-radius: 6px;
      font-size: 14px;
      background: #fff;

      &:focus {
        border-color: $line_pre;
      }
    }
  }
  .vow_make_confirm {
    padding: 20px 32px 0;

    .txt {
      margin-bottom: 0.5em;
      padding-left: 25px;
      text-indent: -25px;
      line-height: 1.5;
      font-size: 1em;

      svg {
        margin-right: 5px;
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        path {
          fill: $line_act;
        }
      }
    }

  }

  #vow_make_step01 {
    display: block;
    opacity: 0;

    &.disabled {
      .swiper-container {
        pointer-events: none;
      }
      .swiper-pagination-bullet {
        background: $menu_color_active;
      }
      .swiper-slide {
        opacity: 0.6;

        &.swiper-slide-active {
          opacity: 1;
          border-color: $menu_color_active;
        }
      }
    }
  }
  #vow_make_step02 {
    margin-top: -20px;

    &.disabled {

      textarea {
        pointer-events: none;
        border-color: $menu_color_active;
        &.blank {
          border-color: #fff;
        }
      }
    }
  }
  #vow_make_step03 {
    margin-top: -20px;

    .btn_vow {
      &.disabled {
        pointer-events: none;
        opacity: 0.6;
      }
    }
  }

  .transform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    // z-index: 10;

    &.show {
      opacity: 1;
    }

    &_in {
      // position: relative;
      // top: 50%;
      // transform: translateY(-50%);
    }
    &_anim {
      // text-align: center;
      // color: #fff;
      // p {
      //   margin: 10px;
      //   letter-spacing: 0.1em;
      // }
    }
  }

  &_complete {
    padding: 20px 0 0;

    .title {
      margin-bottom: 20px;
      font-size: 18px;
      color: $menu_color_active;
      text-align: center;
    }

    &_item {
      padding: 0 15px;
    }
    &_wrap {
      margin: 20px auto 20px;
      width: calc(100% - 60px);
      border-radius: 12px;
      overflow: hidden;

      .vow_complete_img {

      }
      .vow_complete_text {
        position: relative;
        margin-top: -30px;
        padding: 10px 8px;
        border-radius: 0 0 6px 6px;
        background: #fff;
        overflow: hidden;

        p {
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
  }
  .signup {
    padding-top: 20px;
    text-align: center;

    &_item {
      position: relative;
      margin-bottom: 15px;
      display: inline-block;
      border-radius: 6px;
      text-align: center;
      width: calc(100% - 80px);

      &_twitter { background: #1dadeb; }
      &_line { background: #00C400; }
      &_google { background: #dc4437; }

      svg {
        position: absolute;
        top: 50%;
        left: 20px;
        margin: -5px 5px 0 0;
        path {
          fill: #fff;
        }
      }
    }
  }

  .reward {
    margin-top: 40px;
    padding: 25px 50px 20px;
    background: $icon_notice;

    .title {
      color: $fc_def;
    }

    .nav_item {
      position: relative;
      display: block;
      margin-bottom: 15px;
      background: #fff;
      // color: $icon_notice;
      color: $fc_def;

      svg {
        position: absolute;
        top: 50%;
        left: 20px;
        margin: -5px 5px 0 0;
        path {
          fill: $icon_notice;
        }
      }
    }
    .reward_item {
      // background: $icon_notice;
    }
    .btn_back {
      color: #fff;
      background: none;

      svg {
        position: relative;
        vertical-align: middle;
        top: 1px;
        left: -2px;
        path {
          fill: #fff;
        }
      }
    }
  }
}
