/* ==========================================================================
  view Edit Account
  ========================================================================== */
.edit {
  position: relative;
  // padding: 20px 0;

  &_item {
    margin-top: 40px;
  }

  &_tit {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: $icon_notice;
  }

  .profile {
    padding: 0 30px;
    position: relative;
    display: flex;
    align-items: center;

    &_name {
      flex: 1;

      dt {
        color: $title_color;
      }
      dd {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $title_color;

        input {
          padding: 10px 0;
          background: none;
          font-size: 14px;
          flex: 1;
        }
        button {
          margin-left: 10px;
        }
      }
    }
    &_photo {
      margin-left: 10px;
      padding-left: 15px;
      width: 80px;
      dt {
        display: none;
      }
      dd {
        figure {
          position: relative;
          border-radius: 50%;
          border: 1px solid #fff;
          overflow: hidden;

          .cover {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        .file_upload {
          input {
            display: none;
          }
        }
      }
    }
  }

  .myvow {
    padding: 0 30px;
    position: relative;
    display: flex;
    // align-items: flex-start;

    &_txt {
      flex: 1;

      dt {
        margin-bottom: 5px;
        color: $title_color;
      }
      dd {
        width: 100%;
        padding: 8px 0;
        line-height: 1.5;
      }
    }
    &_type {
      padding-left: 15px;
      width: 125px;
      dt {
        display: none;
      }
      dd {
        figure {
          border: 2px solid #fff;
          border-radius: 14px;
          overflow: hidden;
        }
      }
    }
  }
  .preview {
    margin: 20px 0 20px;
    text-align: center;
  }

  .btn_closePopup {
    position: absolute;
    left: 4px;
    top: 4px;
    transform: translate(50%,-50%);
    z-index: 2;
  }

  .vow_complete_wrap {
    position: relative;
    margin: 0px auto 0;
    width: calc(100% - 20px);

    .vow_complete_text {
      // margin-top: -2px;
      padding: 15px 15px 12px;
    }

    .effect {
      position: absolute;
      width: 260px;

      &.effect01 {
        top: 10%;
        left: -10%;
        transform: rotate(90deg);
      }
      &.effect02 {
        bottom: 10%;
        right: -10%;
        transform: rotate(-90deg);
      }
    }
  }
}
